.container {
  width: 350px;
  height: 240px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-175px, -120px);
  background-color: #fff;
  padding: 24px;
  border-radius: 8px;
}

.title {
  text-align: center;
  margin-bottom: 24px;
}

.btn {
  width: 100%;
}
