.main {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.header {
  font-size: 48px;
  margin-bottom: 40px;
  color: #487bd7;
}
.img {
  margin-right: 10px;
}

.form {
  height: 300px;
  width: 500px;
  padding: 20px;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.05);
}

.label {
  font-size: 16px;
}

.title {
  font-size: 30px;
  text-align: center;
  margin: 20px;
  color: #487bd7;
}

.btn {
  width: 45%;
}

.loginBtn {
  margin-right: 10%;
}
