.content {
  background-color: #fff;
  padding: 32px;

  border-radius: 16px;
  overflow: auto;
  height: calc(100% - 56px);
}

.btn {
  float: right;
}

.title {
  font-size: 24px;
  margin-bottom: 24px;
}
